#input{
    padding: 5px 0px 5px 0px;
    font-size: medium;
    

}


#upToDown{
    display: inline-flex;
    flex-direction: column;
}

button {
    border: 1px ;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
}

.orange{
    padding: 10px 14px 10px 14px;
    background-color: orange;
}